extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Timur Guo Chen

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer in Training.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I earned my bachelor's degree in biology from Illinois Wesleyan University, and breifly attended Duke University for Doctor Physical Therapy.
            | I switched my career path from healthcare to IT because it's a more exciting field to me, and I can make a larger societal impact.
            | I was able to quickly soak up knowledge in Software Development and Machine Learning in the past 6 month, and I am excited to put my knowledge to work!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li NPM
          li Object-Oriented Programming
          li Third-Party API Data Fetching
          li CSS
          li HTML
          li jQuery
          li List Pagination
          li Unobstrusive JavaScript
          li Regular Expressions
          li Form Validation
          li Error Handling
        h6 Contact Info

        //- Add your own contact info
        ul
          li Chian-tel: +86 171-3667-6455
          li US-tel: +1 (309) 531-7168
          li timurguochen@163.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/timur-chen-9354b0126/') LinkedIn
        a.button.expanded(href='https://github.com/TimurGChen') GitHub
        a.button.expanded(href='https://www.weibo.com/2611300170/profile?rightmod=1&wvr=6&mod=personinfo') Weibo
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  