extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Timur Guo Chen
        p.lead.text-light
          | Full-Stack JavaScript Developer & Data Scientist in Training.
        .portfolio-bio
          p
            | After briefly attending Doctor of Physical Therapy program at Duke University, I developed a strong interest in 
            | technology, and I seek to offer technological solutions to real-world problems, particularly in the healthcare
            | industry. In the past 6 months, I quickly soaked up knowledge in Web Development and Data Science, and I am excited 
            | to put my knowledge to work!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Python
          li SQL
          li Sequelize ORM
          li Object-Oriented Programming
          li JavaScript
          li Express
          li CSS
          li HTML
          li React
          li jQuery
        h6 Contact Info
        ul
          li Chian-tel: +86 171-3667-6455
          li US-tel: +1 (309) 531-7168
          li timurguochen@163.com
          
        a.button.expanded(href='https://bit.ly/resume_timur_guo_chen') Resume
        a.button.expanded(href='https://github.com/TimurGChen') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  